= render 'modules/header'

%main.top
  .top__figure
  .top__content
    = link_to about_contents_path, class: 'top__about' do
      %h2.top__subtitle About
    = link_to root_path, class: 'top__works' do
      %h2.top__subtitle Works
    = link_to posts_path, class: 'top__posts' do
      %h2.top__subtitle Posts

%footer
