$white: #fff;
$whitesmoke: #F5F5F5;
$romance: #F5F1E9;
$regentgrey: #7C858E;
$pomegranate: #c0392b;
$alizarin: #e74c3c;
$crusta: #F26964;
$lightcoral: #F27398;
$bittersweet: #FF6860;
$sunflower: #f1c40f;
$dandelion: #FFD464;
$nanohanacha_gold: #e1b12c;
$orange: #f39c12;
$carrot: #e67e22;
$shamrock: #2FCDB4;
$turquoise: #1abc9c;
$summersky: #33BFDB;
$peterriver: #3498db;
$denim: #0E7AC4;
$egyptianblue: #1253A4;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$sapphire: #08233E;
$nero: #262626;
