// white
$white: #fff;
$whitesmoke: #F5F5F5;
$romance: #F5F1E9;
// gray
$silver: #c0c0c0;
$regentgrey: #7C858E;
// black
$nero: #262626;
$sapphire: #08233E;
// red
$pomegranate: #c0392b;
$alizarin: #e74c3c;
$bittersweet: #FF6860;
// pink
$crusta: #F26964;
$lightcoral: #F27398;
// orange
$carrot: #e67e22;
$orange: #f39c12;
// yellow
$sunflower: #f1c40f;
$dandelion: #FFD464;
$nanohanacha_gold: #e1b12c;
// green
$turquoise: #1abc9c;
$shamrock: #2FCDB4;
// lightblue
$summersky: #33BFDB;
$peterriver: #3498db;
// blue
$denim: #0E7AC4;
$egyptianblue: #1253A4;
// purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;
