footer {
  clear: both;
  width: 60rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0 0 2rem;
}

.copyright {
  float: right;
  padding: 1.5rem 1rem 0;
}

.copyright small {
  text-align: right;
  font-size: 0.7rem;
}
