header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  max-width: 100%;
}

h1 {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-family: 'Courier';
  text-decoration: none;
  color: $nero;
}

.sns {
  padding: 2rem;
}

.sns__icon {
  font-size: 2rem;
  text-decoration: none;
  color: $nero;
}
