.top {
  max-width: 100%;
}

.top__figure {
  height: 60rem;
  background-image: url('laptop-3190194_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.top__content {
  display: flex;
}

.top__about {
  @include content;
  background: $lightcoral;
}

.top__works {
  @include content;
  background: $peterriver;
}

.top__posts {
  @include content;
  background: $shamrock;
}

h2.top__subtitle {
  align-self: center;
  font-size: 2rem;
  font-family: 'Courier';
  color: $romance;
}
